.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(/form/pi_login_bg.jpg);
    background-image: url(/form/pi_login_bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    .vstack {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 2rem;
            text-align: center;
        }
        form{
            width: 100%;
            display: block;
            background: #00000042;
            color: #fff;
            padding: 26px 24px 34px;
            .vstackInner {
                .formControl {
                    margin-bottom: 2rem;
                    label {
                        text-align: left;
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                        display: block;
                    }
                    input,select{
                        border: 1px solid #333;
                        width: 100%;
                        padding: 1rem;
                        border-radius: 5px;
                        &:focus {
                            outline: none;
                        }
                        &.dateOfBirth{
                            font-size:1rem;
                            color: #444;
                        }
                    }
                    .gender{
                        position: relative;
                        select{
                            font-size: 1rem;
                            color: #444;
                            cursor: pointer;
                            background: #f3f3f3;
                            border: 1px solid #bbb;
                            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                            background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 9px;
                            height: 8px;
                            top: 50%;
                            right: 1em;
                            margin-top:-4px;
                            z-index: 2;
                            background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;  
                            pointer-events:none;
                        }
                    }
                    .label {
                        padding: 35px 0px;
                        color: #fff;
                        background-color: #384878;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        &:hover{
                            color: #384878;
                            background-color: #fff;
                        }
                        p{
                            margin: 0;
                            text-align: center;
                        }
                        .photoURL{
                            display: none;
                        }
                    }                    
                    &.invalid {
                        input{
                            border: 1px solid red; 
                            box-sizing: border-box;
                        }
                    }
                    .inputGroup {
                        position: relative;
                        button {
                            position: absolute;
                            right: 0.5rem;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #b9b4b4;
                            padding: 0.4rem;
                            color: #fff;
                            border: none;
                            &.show{
                                cursor: pointer;
                            }
                        }
                    }
                    .errorMessage{
                        color:red;
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }
                .loginBtn {
                    background-color: teal;
                    color: white;
                    padding: 1rem 2rem;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    display: block;
                    width: 100%;
                    max-width: 500px;
                    margin: 2rem auto;
                    &:hover {
                        background-color: darken(teal, 10%);
                    }
                    &[disabled] {
                        background-color: #ccc;
                        cursor: not-allowed; /* クリック不可のカーソルを表示 */
                    }
                }
                .signupLink{
                    display: block;
                    text-align: center;
                    .signupBtn {
                        background-color: white;
                        color: black;
                        width: 90%;
                        border: none;
                        cursor: pointer;
                        height: 70px;
                        transition: background-color 0.3s;
                        &:hover {
                            background-color: #333;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}