*, *:before, *:after {
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    display: block;
}
input,select,button{
    appearance: none;
    -webkit-appearance: none;
}
.notification {
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    &.success {
        background-color: #DFF2BF;
        color: #4F8A10;
    }
    &.error {
        background-color: #FFD2D2;
        color: #D8000C;
    }
}