.main{
    position: relative;
    &::before{
        content:'';
        background-image:  url(/top/bg.jpg);
        background-image:  url(/top/bg.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .wrap{
        position: relative;
        max-width: 1200px;
        margin: 100px auto;
        padding: 5%;
        background: rgb(255,255,255,.3);
        h1{
            font-size: 3rem;
            span{
                font-size: 4rem;
                margin: 0 15px;
                @media (max-width: 767px) {
                    display: block;
                    margin: 15px 0;
                }
            }
        }
        .greetingBox{
            p{
                font-size: 1.5rem; 
                line-height: 1.8;
                span{
                    display: block;
                    @media (max-width: 767px) {
                        background: #9ec2e25c;
                        padding: 15px;
                        border-radius: 10px;
                        line-height: 1.4;
                        margin: 10px 0;
                    }
                    .githubLink{
                        color: #333;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
        .box{
            h2{
                font-size: 2.5rem; 
                border-bottom: 2px solid #4c9ac0;
                padding: 0.3em;
                margin-bottom: 0.3em;
                &:first-letter {
                    font-size: 1.5em;
                    color: #4c9ac0;
                }
            }
            ul{
                padding: 0.5em;
	            list-style-type: none;
                li{
                    position: relative;
	                padding: 0.5em 1em 0.5em 2.3em;
	                margin-bottom:5px;
	                border-bottom: 1px solid rgba(25,118,210,1);
                    &::after,&::before{
                        content:'';
	                    position: absolute;
	                    border-radius: 50%;
                    }
                    &::before{
                        top: 50%;
	                    left: 0.2em;
                        width: 17px;
                        height: 17px;
                        background: rgba(25,118,210, 1);
                        transform: translateY(-50%);
                    }
                    &::after{
                        top: 50%;
                        left: -0.01em;
	                    width: 14px;
	                    height: 14px;
	                    background: rgba(25,118,210, 0.5);
                    }
                }
            }
            .summary{
                p{
                    font-size: 1.4rem;
                }
            }
            .dateOfBirth{
                p{
                    font-size: 1.2rem;
                    span{
                        color: #f02b2bfc;
                        font-size: 2.3rem;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
            .images {
                position: relative;
                max-width: 500px;
                width: 95%;
                img{
                    width: 100%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% - 5px);
                    height: calc(100% - 5px);
                    border-image-source: repeating-linear-gradient(45deg, #fff, #fff 3px, rgba(0 0 0 / 0) 0, rgba(0 0 0 / 0) 6px);
                    border-image-slice: 20;
                    border-image-repeat: round;
                    border-style: solid;
                    border-width: 20px;
                }
            }
        }
        .logout{
            button{
                background-color: teal;
                color: white;
                padding: 1rem 2rem;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;
                display: block;
                width: 100%;
                max-width: 500px;
                &:hover{
                    background-color: #004d4d;
                }
            }
        }
    }
}